# Node (frontend)
frontendnode_modules
frontenddist
frontend.env

# Java (backend)
backendtarget
backend.idea
backend.classpath
backend.project
backend.settings
backend.env
backend.DS_Store
application.properties

# General
.log
.iml
.DS_Store
.env
